<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>404</title>
		<meta name="description" content="">
		<meta name="author" content="trinh tran">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="shortcut icon" href="/static/images/logoee.png" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="apple-touch-icon" href="/static/images/logoee.png">
		<link rel="stylesheet" type="text/css" href="/static/common/css/error404.css" />
		<link rel="stylesheet" type="text/css" href="/static/common/css/bootstrap.min.css" />
	</head>

	<body>
<div class="col-md-12 article">
	<div class="col-md-6">
	<center>
		<img src="/static/images/logoee.png" />
		<h1>Trang không tìm thấy</h1>
	</center>
</div>
<div class="col-md-6">
		<ul>
			<h2>Bạn không thể xem trang này bởi vì:</h2>
			<li>1. Một mục Đánh dấu/Ưu thích hết hạng.</li>
			<li>2. Một địa chỉ sai.</li>
			<li>3. Bạn không có quyền truy cập trang web này.</li>
			<li>4. Thông tin yêu cầu không được tìm thấy.</li>
			<li>5. Đang sảy ra lỗi trong lúc xử lý yêu cầu.</li>
			<h2>Vui lòng thử các trang sau:</h2>
			<a href="/">Trang chủ</a>
		</ul>
</div>

		</div>
	</body>
</html>
