<div class="wrapper" >
            <section class="section-white">
                <div id="container">
                    <div class="section-inner-wide section-inner">
                        <h1 class="splash">Free English for all purposes</h1>
                        <div class="centered-lotus-signup">
                            <div class="lotus lotus-happy"></div>
                            <div class="signup-buttons">
                                <table class="signup-table" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="btn btn-block btn-xl btn-blue" href="javascript:;" id="email-link" style="margin-bottom: 15px;">
                                                    <span class="icon icon-email-white left"></span>
                                                    Sign up with email
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-block btn-xl btn-fbblue btn-signup-facebook signup-facebook" id="facebook-link" href="javascript:;" style="margin-bottom: 15px;">
                                                    <span class="icon icon-facebook-white" style="margin-left: 2px;"></span>
                                                    Sign up with Facebook
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-block btn-xl btn-signup-google signup-google" id="gplus-link" href="javascript:;">
                                                    <span class="icon icon-google-white" style="margin-left: 2px;"></span>
                                                    Sign up with Google
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-flags ">
                <div class="section-inner">
                    <h2 class="splash">Titanium have courses in</h2>
                    <ul class="featured-languages">
                        <li>
                            <span class="flag-container">
                                <span class="featured-language-flag egg"></span></span>
                            <p>English for Beginners</p>
                        </li>
                        <li>
                            <span class="flag-container">
                                <span class="featured-language-flag sp"></span>
                            </span>
                            <p>English for Specific Purposes</p>
                        </li>
                        <li>
                            <span class="flag-container">
                                <span class="featured-language-flag tc"></span>
                            </span>
                            <p>TOEIC Test</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section-features">
                <div class="section-inner">
                    <ul class="list-duo-features">
                        <li>
                            <span class="icon-duo-feature guide"></span>
                            <h2>Guide by experience teachers</h2>
                        </li>
                        <li>
                            <span class="icon-duo-feature heart"></span>
                            <h2>Always free</h2>
                        </li>
                        <li>
                            <span class="icon-duo-feature mobile"></span>
                            <h2>Ready on the go</h2>
                        </li>
                    </ul>
                    <footer class="footer-main">
                        <ul class="nav-footer">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Q&amp;A</a>
                            </li>
                            <li>
                                <a href="#">Mobile</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </footer>
                </div>
            </section>
        </div>