<article class="container" style="margin-top:100px;">
      
			<div class="row">
				<div class="col-sm-9" style="padding-right: 10px;">
				<div class="panel panel-default" >
					  <div class="panel-body">
					  			
					  		<div class="list-group">
					              <a href="#" class="list-group-item active">
					                <h4 class="list-group-item-heading">Name: &#123;&#123;fulluser.fulluser.first_name&#125;&#125; &#123;&#123;fulluser.fulluser.last_name&#125;&#125;</h4>
					                <p class="list-group-item-text"></p>
					              </a>
					              	<a href="#" class="list-group-item">
					                <h4 class="list-group-item-heading"><img src="/static/images/gender-icon.png" height="50px" width="50px"/>  Gender: <span ng-show ="fulluser.fulluser.accountGender">Male</span><span ng-hide ="fulluser.fulluser.accountGender">Female</span> </h4>
					                <p class="list-group-item-text"></p>
					              </a>

					              <a href="#" class="list-group-item">
					                <h4 class="list-group-item-heading"><img src="/static/images/birthday.png" height="50px" width="50px"/>  Birthday: &#123;&#123; fulluser.fulluser.accountBirthday &#125;&#125;</h4>
					                <p class="list-group-item-text"></p>
					              </a>
					              <a href="#" class="list-group-item">
					                <h4 class="list-group-item-heading"><img src="/static/images/assets_partner.png" height="50px" width="50px"/>   Join Date: &#123;&#123; fulluser.fulluser.date_joineds &#125;&#125;</h4>
					                <p class="list-group-item-text"></p>
					              </a>
					              <a href="#" class="list-group-item">
					                <h4 class="list-group-item-heading"><img src="/static/images/icon_partners_white.jpg" height="50px" width="50px"/>   Last Sign in: &#123;&#123; fulluser.fulluser.date_joineds &#125;&#125;</h4>
					                <p class="list-group-item-text"></p>
					              </a>
					              <a href="#" class="list-group-item">
					                <h4 class="list-group-item-heading"><img src="/static/images/location.png" height="50px" width="50px"/> Addresss : &#123;&#123; fulluser.fulluser.accountAddress &#125;&#125;</h4>
					                <p class="list-group-item-text"><span ng-hide="fulluser.fulluser.accountAddress" style="color: red;">we could not find your information. Please supplement your information!</span></p>
					              </a>
					            </div>
										  	
					  		<ul class="list-group">
					              <li class="list-group-item"><span class="badge">14</span>Cras justo odio</li>
					              <li class="list-group-item"><span class="badge badge-default">91</span>Dapibus ac facilisis in</li>
					              <li class="list-group-item"><span class="badge badge-primary">38</span>Morbi leo risus</li>
					              <li class="list-group-item"><span class="badge badge-success">56</span>Porta ac consectetur ac</li>
					              <li class="list-group-item"><span class="badge badge-warning">20</span>Vestibulum at eros</li>
					              <li class="list-group-item"><span class="badge badge-danger">99+</span>Dapibus ac facilisis in</li>
					            </ul>

						</div>
				</div>
				</div>
				
				<div class="col-sm-3">
				<div class="row">
					
						<div class="thumbnail"  style="padding-top: 10px;">
						  <img data-src="holder.js/300x200" alt="300x200" src="/static/&#123;&#123;user.accountAvatar&#125;&#125;" style="width: 200px; height: 200px;">
						  <div class="caption">
							<h3><center class="name">&#123;&#123;user.last_name&#125;&#125; &#123;&#123;user.first_name&#125;&#125;</center></h3>
							<center>Tham gia ngày 26/04/2014</center>
							
						  </div>
						</div>
					
				</div>
				<div class="row">
					
						<ul class="nav nav-pills">
						  <li class="active"><a href="#">Thông báo<span class="badge">42</span></a></li>
						  <li><a href="#">Tin nhắn</a></li>
						  <li><a href="#">Bài<span class="badge">3</span></a></li>
						</ul>
						<br>
						<ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
						  <li class="active">
							<a href="#">
							  <span class="badge pull-right"></span>
							  Thông tin cá nhân
							</a>
						  </li>
						  <li><a href="#">
							  <span class="badge pull-right">3</span>
							  Thông tin lớp học tham gia</a></li>
						  <li>
							<a href="#">
							  <span class="badge pull-right"></span>
							  Đánh gia trình độ
							</a>
						  </li>
						</ul>
						<br>
						
					  
					</div>
				</div>
			</div>
</article>